{% extends 'base.html.twig' %}

{% block title %}Maverick{% endblock %}

{% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Maverick
                        </a>
                        <!-- ***** Logo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="{{ asset('assets/images/sunset-top-gun-3.jpeg') }}" alt="" class="img-fill">
                    <div class="text-content">
                        <h3>Welcome To Maverick</h3>
                        <h5>Choisis ta piste de décollage. 🛫</h5>
                        <a href="#" class="main-stroked-button">Maverick App</a>
                        <a href="/api" class="main-filled-button">Maverick API</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </div>
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; {{ "now"|date("Y") }} Made with ❤️
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li><p>Follow Us</p></li>
                            <li><a rel="nofollow" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a rel="nofollow" href="#"><i class="fa fa-github"></i></a></li>
                            <li><a rel="nofollow" href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
